@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d9ecfb;
}
.warning-banner {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    background-color: #000000;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

div.warning-title {
    display: flex;
    flex-direction: column;
    width: 14rem;
}
div.warning-title span:nth-child(1) {
    font-weight: 700;
}

.warning-banner p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.warning-banner a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: #190482;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 14rem;
}

.wrapper {
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.content-wrapper {
    width: 780px;
    background-color: #ffffff;
}

.header-wrapper {
    width: 100%;
}

.header-nav {
    width: 100%;
    background-color: #3763A4;
}

.header-nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0.1rem;
    list-style: none;
}

.header-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 10pt;
}

section.content {
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 15px;
}

main.main-content {
    display: flex;
    flex-direction: column;
    width: 550px;
    background-color: #d9ecfb;
    padding: 15px;
    border-radius: 10px;
}

main.main-content h1 {
    color: #00923f;
    font-size: 14pt;
}

nav.side-bar-menu {
    width: 200px;
}

nav.side-bar-menu ul {
    list-style: none;
    padding: 15px;
    margin-bottom: 4px;
    border-radius: 5px;
}

nav.side-bar-menu ul:nth-child(odd) {
    background-color: #7ea926;
}

nav.side-bar-menu ul:nth-child(2) {
    background-color: #aed956;
}

nav.side-bar-menu ul:nth-child(4) {
    background-color: #0088bf;
}

nav.side-bar-menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 10pt;
    font-weight: bold;
}

picture.content-banner {
    width: 250px;
    margin: 15px auto 15px auto;
}

picture.content-banner img {
    width: 100%;
}

div.content-text h2 {
    color: #00923f;
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
}

div.content-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #2A2AFF;
}

div.content-text {
    font-family: 'Verdana','sans-serif';
    font-size: 10pt;
}

div.content-text p {
    text-indent: 1cm;
    text-align: justify;
    line-height: 150%;
}

div.content-info {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

div.content-info span {
    text-align: right;
    margin: 0.5rem 0 0.5rem 0;
}

div.read-more span {
    font-family: 'Times New Roman', Times, serif;
}

div.read-more ul {
    list-style: none;
}

div.read-more ul li a {
    text-decoration: none;
    font-size: 10pt;
    font-weight: bold;
    color: #0066ff;
}